div#eight-ball {
	background: url(/images/magic-eight-ball.jpg) no-repeat center center;
	height: 332px;
	left: 50%;
	margin: -166px 0 0 -166px;
	position: absolute;
	top: 50%;
	width: 332px;
}

div#eight-ball h1 {
  color: #eee;
  font: normal 14px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  left: 50%;
  margin: -1em 0 0 -60px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 120px;
}